.appBackgroundLight{
    -fx-background-color: white;
}
.mainAppSideBarLight{
    -fx-background-color: #a4a4a4;
}
.appBackgroundDark{
    -fx-background-color: #262626;
}
.mainAppSideBarDark{
    -fx-background-color: #3c3f41;
}
.textFieldDark{
    -fx-background-color: #262626;
    -fx-background-radius: 8px;
    -fx-border-color: white;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-inner-color: white;
    -fx-text-inner-size: 14px;
}
.textFieldDarkAccepted{
    -fx-background-color: #262626;
    -fx-background-radius: 8px;
    -fx-border-color: green;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-inner-color: white;
    -fx-text-inner-size: 14px;
}
.textFieldDarkRejected{
    -fx-background-color: #262626;
    -fx-background-radius: 8px;
    -fx-border-color: red;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-inner-color: white;
    -fx-text-inner-size: 14px;
}
.textFieldLight{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: black;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-inner-color: black;
    -fx-text-inner-size: 14px;
}
.textFieldLightAccepted{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: green;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-inner-color: black;
    -fx-text-inner-size: 14px;
}
.textFieldLightRejected{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: red;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-inner-color: black;
    -fx-text-inner-size: 14px;
}
.labelDark {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}
.labelLight {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}
.buttonDark{
    -fx-background-color: #262626;
    -fx-background-radius: 8px;
    -fx-border-color: white;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-padding: 0.25em 0.75em;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-text-alignment: center;
    -fx-line-height: 1.1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-translate-y: 3;
}
.buttonDark:hover{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
}
.buttonDark:armed{
    -fx-translate-y: -4;
    -fx-translate-y: 4;
}
.buttonLight{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: black;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-padding: 0.25em 0.75em;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-text-alignment: center;
    -fx-line-height: 1.1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-translate-y: 3;
}
.buttonLight:hover{
    -fx-background-color: #262626;
    -fx-border-color: black;
    -fx-text-fill: white;
}
.buttonLight:armed{
    -fx-translate-y: -4;
    -fx-translate-y: 4;
}
.textDark{
    -fx-background-color: #262626;
    -fx-background-radius: 8px;
    -fx-border-color: white;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.textLight{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: black;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.rejectedLabel{
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.mainAppSideBarButtonThemeToggleDark{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-opacity: .5;
}
.mainAppSideBarButtonThemeToggleLight{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-opacity: .5;
}
.calenderButton{
    -fx-background-color: green;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-opacity: .5;
}
.eventsButton{
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-opacity: .5;
}
.tasksButton{
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-opacity: .5;
}
.projectsButton{
    -fx-background-color: purple;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-opacity: .5;
}
.inButtonLabelDark{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.inButtonLabelLight{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.taskStandardStyle{
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.taskStandardButtonStyle{
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.taskStandardButtonStyle:hover{
    -fx-border-color: white;
    -fx-border-radius: 8px;
    -fx-border-width: 3px;
}